# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/docs/Ideas.docx
/docs/Ideas.docx
/docs/Ideas.docx
/docs/~$Ideas.docx
/src/generated/resources/.cache/
/docs/Ideas.odt
/docs/.~lock.Ideas.odt#
